*{
    font-family: Lato, sans-serif;
    font-size: 24;
    font-weight: bold;
}

.h1{
    font-size: 48;
}

.h2{
    font-size: 40;
}

.h3{
    font-size: 32;
}

.caption{
    font-size: 16;
}

.caption.regular{
    font-weight: normal;
}


.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('images/wallpaper_login.jpg');
    background-size: cover;
}

.button {
    color: black;
    background-color:#9C2C0B;
    border-radius: 8px;
    padding-right: 50px;
    padding-left: 50px;
}


.loginButton {
    width: 370px;
    height: 38px;
    color:#F1DCB1;

}

.button:hover {
    color:rgb(0, 0, 0);
    background-color: rgb(197, 70, 32);
}


.inputUser {
    border-radius: 5px;
    border: rgb(164,147,111);
}

.inputUser:focus {
    outline: none;
    border: 2px solid rgb(49, 30, 20);
}

.form{
    background-color: rgb(241, 220, 177);
    border-radius: 10px;
    padding: 100px;
}

.formButtonsContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}