@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
*{
    font-family: 'Lato';
    font-size: 24px;
    font-weight: bold;
}

h1{
    font-size: 48px;
    margin-top: 0;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 32px;
}

caption{
    font-size: 16px;
}

caption.regular{
    font-weight: normal;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../images/wallpaper_login.png');
    background-size: cover;
}

.button {
    border-radius: 8px;
    border-color: #9C2C0B;
    background-color: #9C2C0B;
    color: #F1DCB1;
}

.button.login {
    width: 370px;
    height: 38px;
}

.button.login:active {
    color:#000;
}

.button.login:hover{
    background-color: #C54620;
    border-color: #C54620;
}

.inputUser {
    width: 370px;
    height: 38px;
    background-color:#F1DCB1;
    border: 3px solid #A4936F;
    border-radius: 8px;
    color:#A4936F;
}

.inputUser:focus {
    outline: none;
    border: 2px solid #311E14;
    color:#311E14;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F1DCB1;
    border-radius: 10px;
    padding: 50px;
}

.formButtonsContent{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    color: #311E14;
}

.logoSize {
    width: 469px;
    height: auto;
    margin: 0 auto 10px;
} 